h1 img {
  border: 2px solid white;
  max-height: 600px;
  padding: 2px;
}

.jumbotron {
  background: linear-gradient(#5FC4AB,#EE3C30)!important;
  margin: 20px;
}


#img2 {
  float: right;
  max-height:500px;
  padding: 20px;
  border: 20px solid white;
}

.navbar {
  padding: 20px;
  background: linear-gradient(to right,#FBD727,#B8D432,#5FC4AB,#EE3C30,#EF6A57)!important;
  font-family: monospace;
}

h1 {
  font-family:monospace!important;
}

.container {
  font-family: monospace;
}

.col-sm-4 {
  border: 2px solid black!important;
  min-height: 200px!important;
}

.row {
  padding: 20px;
}
